<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WashCar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WashChar1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>43DA8BE11B97D53F0040C397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43DA8BF91B97D53F0040C397</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E08515E21B3A58DD00185EB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E08515FE1B3A58DD00185EB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
